
    <section>
        
        <section class="books-cards">
            <div class="book-card">
                <img src='<%= obj.image_url %>' alt="<%= obj.title %>">
                <h1><%= obj.title %> </h1>
                <h2><%= obj.author %></h2>
                <p><%= obj.description %></p>
                <h2><%= obj.isbn %></h2>
                
            </div>
        </section>

        <div class="submit-btn">
            <a href='/' class="btn">Go to Homepage</a>
        </div>
    </section>
