<section>
    <form action="/books/<% obj.id %>?_method=put" method="post">
        <input type='text' name="title" value="<%= obj.title %>">
        <input type='text' name="author" value="<%= obj.author %>">
        <input type='text' name="isbn" value="<%= obj.isbn  %>">
        <input type='url' name="image_url" value="<%= obj.image_url %>">
        <textarea><%= obj.description %></textarea>
        <div class="submit-btn">
            <button class="btn" type="submit" >Update</button>
        </div>
    </form>
</section>