<%- include('../../layout/head') %>
<%- include('../../layout/header') %>
<main>
    <section class="books-cards">
        <% books.forEach(b =>{   %>
        <div class="book-card">
            <img src='<%= b.imgURL %>' alt="<%= b.title %>">
            <h1><%= b.title %> </h1>
            <h2><%= b.author %></h2>
            <p><%= b.description %></p>
        </div>
        <% }); %>
    </section>
</main>
<%- include('../../layout/footer') %>

</html>